<form action="/my-handling-form-page" method="post">
				<div>
				  <label class="visuallyhidden" for="name">Name</label>
				  <input type="text" id="name" name="user_name" value="Name">
				</div>
				<div>
				  <label class="visuallyhidden" for="mail">Mail</label>
				  <input type="email" id="mail" name="user_mail" value="Email">
				</div>
				<div>
					<label class="visuallyhidden" for="subject">Subject</label>
					<input type="text" id="subject" name="user_subject" value="Subject">
				</div>
				<div>
				  <label class="visuallyhidden" for="msg">Message</label>
				  <textarea id="msg" name="user_message" value="Message">Message</textarea>
				</div>
				<div class="button">
						<button type="submit">Send</button>
				</div>
			</form>	

@media (max-width: 599px) { 
form {
    background-color: #f2f47c;
    margin: 1.9em auto;
    width: 90%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  form div + div {
    margin-top: 1em;
  }
  input, textarea {
    color: #999;
    font-size: .9em;
    height: 2em;
    padding-top: .15em;
    padding-left: .25em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  input:focus, textarea:focus {
    border-color: #000;
    color: black;
    box-shadow: 0;
    outline: none !important;
    border:1px solid black;
  }
  textarea {
    vertical-align: top;
    height: 10em;
    font-size: .9em;

  }
 .button {
    text-align: center;
  }
  button {
    background: teal;
    border:none;
    border-radius: 25px;
    color: #f2f2f2;
    font-size: 1em;
    margin: .5em 0 .5em 0;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 75px;
  }
  button:hover, button:active {
      background: #006666;
  }
}


@media (min-width: 600px) and (max-width: 1199px) { 
  form {
    background-color: #f2f47c;
    margin: 1.9em auto;
    width: 80%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  form div + div {
    margin-top: 1em;
  }
  input, textarea {
    color: #999;
    font-size: .9em;
    height: 2em;
    padding-top: .15em;
    padding-left: .25em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  input:focus, textarea:focus {
    border-color: #000;
    color: black;
    box-shadow: 0;
    outline: none !important;
    border:1px solid black;
  }
  textarea {
    vertical-align: top;
    height: 10em;
    font-size: .9em;

  }
 .button {
    text-align: center;
  }
  button {
    background: teal;
    border:none;
    border-radius: 25px;
    color: #f2f2f2;
    font-size: 1em;
    margin: .5em 0 .5em 0;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 75px;
  }
  button:hover, button:active {
      background: #006666;
  }
}


@media (min-width: 1200px) {
  form {
    background-color: #f2f47c;
    margin: 1.9em auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  form div + div {
    margin-top: 1em;
  }
  input, textarea {
    color: #999;
    font-size: .9em;
    height: 2em;
    padding-top: .15em;
    padding-left: .25em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  input:focus, textarea:focus {
    border-color: #000;
    color: black;
    box-shadow: 0;
    outline: none !important;
    border:1px solid black;
  }
  textarea {
    vertical-align: top;
    height: 10em;
    font-size: .9em;

  }
 .button {
    text-align: center;
  }
  button {
    background: teal;
    border:none;
    border-radius: 25px;
    color: #f2f2f2;
    font-size: 1em;
    margin: .5em 0 .5em 0;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 75px;
  }
  button:hover, button:active {
      background: #006666;
  }
}