
body {
    background-image: url("../images/bkgrnd-light_grey.png");
	background-repeat-x: repeat;
    background-repeat-y: repeat;
    font-family: 'Barlow', sans-serif;

}

header {
    background-color: peru;

}

@media (min-width: 850px) {
header {
    background-color: peru;
    height: 143px;
    position: fixed;
    top: 0;
	width: 100%;
    z-index: 2;
}
}

#logo {
    margin-bottom: .5em;
    margin-top: .5em;
    margin-left: .5em;
}

@media (min-width: 850px) {
    #logo {
        margin-bottom: .5em;
        margin-top: .5em;
        margin-left: .5em;
        position: fixed;
    }
}

#hamburger {
    background-image: url("../images/hamburger-blk.svg");
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    width: 30px;
    height: 25px;
}

@media (min-width: 850px) {
#hamburger {
    display: none;
}
}

/* The slide navigation menu */
.slideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

@media (min-width: 850px) {
    .slideNav {
        background: none;
        display: flex;
        flex-wrap: nowrap;
        height: 125px;
        justify-content: flex-end;
        width: 100%;
    }

    .nav-item {
        height: 1.5em;
    }
}

/* The navigation menu links */
.slideNav a {
    margin: .5em .5em .5em 1.5em;
    text-decoration: none;
    font-size: 1.5em;
    color: #f2f2f2;
    display: block;
    line-height: 1.5;
    transition: 0.3s;
}

@media (min-width: 850px) {
    .slideNav a {
        flex-basis: 0;
        font-size: 1.35em;
        font-weight: 600;
        color: #111;
        line-height: 1.5;
        text-transform: uppercase;
    }
}

/* Mouseover changes nav links */
.slideNav a:hover, .slideNav a:active {
    color: #f2f2f2; 
}

@media (min-width: 850px) {
    .slideNav a:hover, .slideNav a:active {
        border-bottom: 5px solid #111;
        color: #111; 
        text-decoration: none;
    }
}

/* Position and style close button */
.slideNav .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    margin-left: 50px;
    text-decoration: none;
}

@media (min-width: 850px) {
    .slideNav .closebtn {
        visibility: hidden;
    }
}

main {
    z-index: 1;
    margin-top: 2em;
}

@media (min-width: 850px) {
    main {
        z-index: 1;
        margin-top: 11.25em;
    }
}

h1 {
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0 auto;
	padding-bottom: .25em;
	padding-top: 1em;
    text-align: left; 
    width: 90%;
}

@media (min-width: 800px) {
    h1 {
        width: 60%;     
    }
    }

h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	padding-bottom: .25em;
	padding-top: 2em;
    text-align: center;  
    width: 90%;
}

h3 {
    font-size: 1.6em;
	font-weight: 600;
	margin: 0 auto;
	padding-top: .5em;
	padding-bottom: .5em;
	width: 90%;   
}

p {
    font-size: 1.25em;
    /* font-weight: 600; */
    line-height: 1.5;
	margin: 0 auto;
	padding-top: 1em;
	/* padding-bottom: 1em; */
	width: 90%;     
}

@media (min-width: 800px) {
p {
    width: 60%;     
}
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

p a:hover, p a:active {
    border-bottom: 1px solid #111;
    padding-bottom: .2em
	text-decoration: none; 
}

#prod h1 {
    display: block;
    margin-top: -1.75em;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
    
}

#prod img {
    width: 870px;
    margin-left: -1.5em;
    margin-top: -2.6em;
}

@media (min-width: 850px) {
    #prod h1 {
        margin-top: -2em;
        max-height: 225px;
    }

    #prod img {
        margin-left: 0;
        width: 100vw;
        object-fit: cover;
    }
}

.grid-container-3, .grid-container-4 {
    text-align: center;
    padding-bottom: 1em;
}

.grid-container-box {
	background-color: #f2f47c;
	border-radius: 1em;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
    margin-top: 2em;
    width: 85%;
}

.grid-container-box li {
    text-align: left;
    padding: .5em 0 .5em .5em;
}

/* RESPONSIVE 4-column >= TABLET */
@media (min-width: 600px) {
    .grid-container-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .grid-container-box {
        padding: 0 1em;
        max-width: 40%;
    }

    .grid-container-box ul {
        padding: 0;
    }

    .grid-container-box li {
        /* background-color: chartreuse; */
        text-align: left;
        margin-left: .25em;
        padding-bottom: .5em;
        padding-top: .5em;
        /* margin: 0 auto 0 -.5em; */
        width: 90%;
    }
}

@media (min-width: 1055px) {
    .grid-container-box {
        padding: 0 1em;
        max-width: 17%;
    }
}

.grid-container-3 a:hover, .grid-container-3 a:active, .sm-icons a:hover, .sm-icons a:active {
    border-bottom: 5px solid #111;
    color: #111;
    padding-bottom: .2em;
    text-decoration-line: none;
    transition: 0.5s;

}

.skill-column {
    margin-top: 2em;
}

/* RESPONSIVE 3-column >= TABLET */
@media (min-width: 600px) {
.grid-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-column {
    padding: 0 3em;
    min-width: 20%;
}
}

#branding {
	background-color:#e3ac7d;
	margin: 0 auto;
	/* padding-top: 1em; */
	width: 100%;
}

#branding img {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (min-width: 600px) {
    #branding .skill-column {
        /* background-color: darkgoldenrod; */
        min-width: 35%;
    }
}

.arch img {
    padding-top: 1em;
    padding-bottom: 1em;
	position: relative;
	width: 100%;
}

ul {
    margin-top: 0;
}

li {
    font-size: 1.15em;
	line-height: 1.35em;
	list-style-type: none;
    margin: 0 0 0 -2.5em;
    padding-bottom: .25em;
}

footer {
	margin-top: 7em;
	padding-bottom: .5em;
}
footer p {
	font-size: .9em;
	text-align: center;
    text-decoration: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin: 0 .5em 0 .5em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}






    
