body {
    background-color: aquamarine;
}

header {
    background-color: peru;
}

#logo {
    margin-top: .5em;
    margin-left: .5em;
}

#hamburger {
    background-image: url("../images/hamburger-blk.svg");
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    width: 30px;
    height: 25px;
}


/* The side navigation menu */
.slideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.slideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* Mouseover changes nav links */
.slideNav a:hover {
    color: #f1f1f1;
}

/* Position and style close button */
.slideNav .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    margin-left: 50px;
}