
@media (min-width: 1px) and (max-width: 599px) {
body {
	font-family: 'Barlow', sans-serif;
}
.sm-icons a {
	color: black;
	text-decoration-line: none;
}
header h1{
	
	text-align: center;
}
#name-space h1 {
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
	max-width: 90%;
	text-align: center;
	text-transform: none;
	margin: 0 auto;
}
#name-space h2 {
	font-weight: 400;
	font-size: 1.05em;
	max-width: 90%;
	padding-bottom: 1em;
	text-align: center;
	margin: 0 auto;
}
.nav-item {
	color: #f2f2f2;
	font-size: 1.5em;
	line-height: 2.5;
	padding-left: .5em;
}
section{
	padding-bottom: 1em;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	width: 90%;
}
section p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 90%;
	font-size: 1.15em;
	padding-bottom: 1em;
}
#prod p {
	line-height: 1.65em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 90%;
	font-size: 1.15em;
}
.grid-container-3 p {
	padding-top: 0;
	line-height: 1.20em;
	max-width: 90%;
	font-size: 1.15em;
	padding-bottom: 0em;
}
.grid-container-4 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.25em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .75em;
	text-align: left;
}
.grid-container-2 h3  {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .35em;
	padding-top: 1.5em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 h3, .grid-container-4 h3 {
	padding-bottom: .35em;
}
.grid-container-2 a, .grid-container-3 a, .grid-container-4 a {
	text-decoration: none;
	color: black;
}
.grid-container-2 a:hover, .grid-container-2 a:active,
.grid-container-3 a:hover, .grid-container-3 a:active, 
.grid-container-4 a:hover, .grid-container-4 a:active {
	color: black;
	text-decoration: underline;
}
article p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 100%;
}
#logo h1  {
	line-height: 0;
	text-align: center;
}
.arch h3 {
	margin: 0 auto;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 80%;
}
footer {
	margin-top: 1em;
}
footer p {
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}

footer a {
	text-decoration: none;
	color: black;
}
footer a:hover, footer a:active {
	text-decoration: underline;
}
}


@media (min-width: 600px)and (max-width: 1199px)  {	
body {
	font-family: 'Barlow', sans-serif;
}
.sm-icons a {
	color: black;
	text-decoration-line: none;
}
header h1{
	text-align: center;
}	
#name-space h1 {
	font-size: 1.9em;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	z-index: 2;
	white-space: nowrap;
}
#name-space h2 {
	font-weight: 400;
	font-size: 1.05em;
	position: relative;
	z-index: 2;
	padding-bottom: 1em;
	line-height: 1em;
	white-space: nowrap;
	text-align: center;
}
#nav-list {
	list-style: none;
	padding-bottom: .35em;
	padding-top: .35em;
	}
.nav-item {
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
	line-height: 1.25;
}
.nav-item a {
	text-decoration: none;
	color: black;
}
.nav-item:hover {
	color: black;
	text-decoration: underline;
}
#logo h1  {
	line-height: 1.25em;
	padding: .8em 0 0 0;
	text-align: center;
}
section{
	padding-bottom: 1em;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	width: 80%;
}
section p {
	line-height: 1.65em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 80%;
	font-size: 1.15em;
	position: relative;
}

#prod p {
	line-height: 1.65em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 80%;
	font-size: 1.15em;
}
.grid-container-2 h3  {
	margin: auto auto;
	max-width: 60%;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 p  {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.15em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .45em;
	text-align: center;
}
.grid-container-4 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.25em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .75em;
	text-align: left;
}
.grid-container-3 h3 {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .35em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-4 h3 {
	line-height: 1.15em;
	max-width: 80%;
	padding-bottom: .75em;
	padding-top: .5em;
	text-align: center;
}
.grid-container-2 a, .grid-container-3 a, .grid-container-4 a {
	text-decoration: none;
	color: black;
}
.grid-container-2 a:hover, .grid-container-3 a:hover, .grid-container-4 a:hover {
	color: black;
	text-decoration: underline;
}
article p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 100%;
}
.arch h3 {
	margin: 0 auto;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 80%;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	padding-bottom: .5em;
	width: 50%;
}

footer {
	margin-top: 1em;

}
footer p {
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	text-decoration: underline;
}
}
	
@media (min-width: 1200px)  { 
body {
	font-family: 'Barlow', sans-serif;
}
.sm-icons a {
	color: black;
	text-decoration-line: none;
}
header h1 {
	font-size: 2.5em;
	font-family: 'Dancing Script', cursive;
	line-height: 1em;
	text-align: left;
	z-index: 2;
	white-space: nowrap;
}
header h2 {
	font-weight: 400;
	font-size: 1.25em;
	z-index: 2;
	padding-bottom: 1em;
	white-space: nowrap;
	text-align: left;
}
.nav-item {
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 2;
}
.nav-item:hover {
	text-decoration: underline;
}
#logo h1  {
	line-height: 1.25em;
	padding: .8em 0 0 0;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 50%;
	text-align: center;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	padding-bottom: .5em;
	width: 50%;
}
section p {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 50%;
	font-size: 1.45em;;
}

#about p {
	font-size: 1.5em;;
}
#prod p {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 70%;
	font-size: 1.15em;
}
.grid-container-3 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.15em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .45em;
	text-align: center;
}
.grid-container-4 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.15em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .75em;
	text-align: left;
}
.grid-container-2 h3  {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 h3  {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .35em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-4 h3 {
	line-height: 1.15em;
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .75em;
	text-align: center;
}
.grid-container-2 a, .grid-container-3 a, .grid-container-4 a {
	text-decoration: none;
	color: black;
}
.grid-container-2 a:hover, .grid-container-3 a:hover, .grid-container-4 a:hover {
	color: black;
	text-decoration: underline;
}
.arch h3 {
	margin: 0 auto;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 80%;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	padding-bottom: .5em;
	width: 50%;
}
footer p {
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	text-decoration: underline;
}
}	
