
@media (min-width: 1px) and (max-width: 599px) {
body {
	font-family: 'Barlow', sans-serif;
}
.sm-icons a {
	color: black;
	text-decoration-line: none;
}
header h1{
	text-align: center;
}
#name-space h1 {
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
	max-width: 90%;
	text-align: center;
	text-transform: none;
	margin: 0 auto;
	padding-bottom: .35em;
	padding-top: .5em;
}
#name-space h2 {
	font-weight: 400;
	font-size: 1.05em;
	max-width: 90%;
	padding-bottom: 1em;
	text-align: center;
	margin: 0 auto;
}
#about h2 {
	padding-bottom: .25em;
	padding-top: 1em;
}
section{
	padding-bottom: 1em;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 90%;
	padding-bottom: .25em;
	padding-top: 1em;
	text-align: center;
}
section h3 {
	font-size: 1.65em;
	font-weight: 600;
	margin: 0 auto;
	padding-top: .5em;
	padding-bottom: .5em;
	width: 90%;
}
section p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 85%;
	font-size: 1.25em;
	line-height: 1.5;
	padding-bottom: 1em;
}
/*
#about p {
	font-size: 1.5em;;
}
*/
#prod p {
	/*line-height: 1.65em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 85%;
	font-size: 1.15em;*/
}
.grid-container-2 h3  {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .35em;
	padding-top: 1.5em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 h3 {
	/*padding-bottom: .35em;*/
}
.grid-container-3 p {
	padding-top: .25em;;
	line-height: 1.5em;
	max-width: 90%;
	font-size: 1.15em;
	padding-bottom: 0em;
}
.grid-container-4 h3 {
	padding-bottom: .5em;
}
.grid-container-4 p {
	margin: auto auto;
	padding-top: .25em;
	line-height: 1.25em;
	max-width: 90%;
	font-size: 1.15em;
	padding-bottom: .5em;
	text-align: left;
}
.grid-container-2 a, .grid-container-3 a, .grid-container-4 a {
	text-decoration: none;
	color: black;
}
.grid-container-2 a:hover, .grid-container-2 a:active,
.grid-container-3 a:hover, .grid-container-3 a:active, 
.grid-container-4 a:hover, .grid-container-4 a:active {
	color: black;
	text-decoration: underline;
}
#logo h1  {
	line-height: 0;
	text-align: center;
}
.arch h3 {
	margin: 0 auto;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 80%;
}
footer {
	margin-top: 7em;
	padding-bottom: .5em;
}
footer p {
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}

footer a {
	text-decoration: none;
	color: black;
}
footer a:hover, footer a:active {
	text-decoration: underline;
}
}

/*
@media (min-width: 600px)and (max-width: 1199px)  {	
body {
	font-family: 'Barlow', sans-serif;
}
.sm-icons a {
	color: black;
	text-decoration-line: none;
}
header h1{
	text-align: center;
}	
#name-space h1 {
	font-size: 1.9em;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	z-index: 2;
	white-space: nowrap;
}
#name-space h2 {
	font-weight: 400;
	font-size: 1.05em;
	position: relative;
	z-index: 2;
	padding-bottom: 0em;
	line-height: 0em;
	white-space: nowrap;
	text-align: center;
}
#nav-list {
	list-style: none;
	margin: 0 auto;
	padding-bottom: .25em;
	padding-top: .25em;
	width: 90%;
	}
.nav-item {
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
}
.nav-item a {
	text-decoration: none;
	color: black;
}
.nav-item:hover, .nav-item:active {
	color: black;
	text-decoration: underline;
}
#logo h1  {
	padding: .5em 0 0 0;
	text-align: center;
}

section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 80%;
	padding-bottom: .25em;
	padding-top: 1em;
	text-align: center;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	padding-top: .5em;
	padding-bottom: .5em;
	width: 80%;
}
section p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 80%;
	font-size: 1.25em;
	line-height: 1.5;
	padding-bottom: 1em;
	position: relative;

}
/*#about p {
	font-size: 1.5em;;
}*//*
#prod p {
	line-height: 1.65em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 80%;
	font-size: 1.15em;
}
.grid-container-2 h3  {
	margin: auto auto;
	max-width: 60%;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 h3 {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .35em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 p  {
	margin: auto auto;
	padding-top: .25em;
	max-width: 100%;
	padding-top: .25em;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.15em;
	padding-bottom: 0em;
}
.grid-container-4 h3 {
	line-height: 1.15em;
	max-width: 80%;
	padding-bottom: .75em;
	padding-top: .5em;
	text-align: center;
}
.grid-container-4 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.25em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .75em;
	text-align: left;
}
.grid-container-2 a, .grid-container-3 a, .grid-container-4 a {
	text-decoration: none;
	color: black;
}
.grid-container-2 a:hover, .grid-container-3 a:hover, .grid-container-4 a:hover, 
.grid-container-2 a:active, .grid-container-3 a:active, .grid-container-4 a:active {
	color: black;
	text-decoration: underline;
}
.arch h3 {
	margin: 0 auto;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 80%;
}
footer {
	margin-top: 7em;
}
footer p {
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover, footer a:active {
	text-decoration: underline;
}
}
	
@media (min-width: 1200px)  { 
body {
	font-family: 'Barlow', sans-serif;
}
.sm-icons a {
	color: black;
	text-decoration-line: none;
	
}
header h1 {
	font-size: 2.5em;
	font-family: 'Dancing Script', cursive;
	line-height: 1em;
	text-align: left;
	z-index: 2;
	white-space: nowrap;
}
header h2 {
	font-weight: 400;
	font-size: 1.25em;
	z-index: 2;
	padding-bottom: 1em;
	white-space: nowrap;
	text-align: left;
}


#name-space h1 {
	font-size: 2.5em;
	font-family: 'Dancing Script', cursive;
	line-height: .5em;
	text-align: left;
	z-index: 2;
	white-space: nowrap;
	width: 15%;
}
#name-space h2 {
	font-weight: 400;
	font-size: 1.25em;
	position: relative;
	z-index: 2;
	padding-bottom: .5em;
	line-height: 0em;
	white-space: nowrap;
	text-align: left;
	width: 25%;
}

.nav-list {

}
.nav-item {
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 2;
	padding-bottom: .5em;
}
.nav-item:hover, .nav-item:active {
	text-decoration: underline;
}
#logo h1  {
	line-height: 1.25em;
	padding: .8em 0 0 0;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 50%;
	padding-bottom: .5em;
	padding-top: 1em;
	text-align: center;
}
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	padding-bottom: .5em;
	width: 50%;
}
section p {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 50%;
	font-size: 1.45em;
	line-height: 1.5em;
}

#about p {
	font-size: 1.5em;;
}
#prod p {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 70%;
	font-size: 1.15em;
}
.grid-container-2 h3  {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 h3  {
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .5em;
	padding-top: .5em;
	text-align: center;
	white-space: nowrap;
}
.grid-container-3 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.25em;
	max-width: 100%;
	font-size: 1.15em;
	padding-bottom: .45em;
	text-align: center;
}
.grid-container-4 h3 {
	line-height: 1.15em;
	margin: auto auto;
	max-width: 80%;
	padding-bottom: .75em;
	text-align: center;
}
.grid-container-4 p {
	margin: auto auto;
	padding-top: 0;
	line-height: 1.15em;
	max-width: 100%;
	font-size: 1em;
	padding-bottom: .75em;
	text-align: left;
}
.grid-container-2 a, .grid-container-3 a, .grid-container-4 a {
	text-decoration: none;
	color: black;
}
.grid-container-2 a:hover, .grid-container-3 a:hover, .grid-container-4 a:hover,
.grid-container-2 a:active, .grid-container-3 a:active, .grid-container-4 a:active {
	color: black;
	text-decoration: underline;
}
.arch h3 {
	margin: 0 auto;
	padding-bottom: .5em;
	padding-top: 1em;
	width: 80%;
}
footer {
	margin-top: 1em;
}
footer p {
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover, footer a:active {
	text-decoration: underline;
}
}	*/
