* {
	font-family: 'Barlow', sans-serif;
}



@media (max-width: 599px) {
	* {
	font-family: 'Barlow', sans-serif;
}

header h1{
	text-align: center;
}
	#name h1 {
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
	/*line-height: 1em;*/
	max-width: 90%;
	text-align: center;
	text-transform: none;
	/*z-index: 2;*/
	/*position: relative;*/
	margin: 0 auto;
}

#name h2 {
	font-weight: 400;
	font-size: 1.05em;
	max-width: 90%;
	padding-bottom: 1em;
	text-align: center;
	/*position: relative;*/
	margin: 0 auto;
	/*z-index: 2;*/	
}

.nav-item {
	color: #f8f9f9;
	font-size: 1.5em;
	line-height: 2.5;
	padding-left: .5em;
}

#nav {
	/*font-weight: 600;*/
	/*text-transform: uppercase;*/
	/*font-size: 1.25em;*/
}

/*nav a {
	color: black;
}*/
section{
	padding-bottom: 1em;
}

section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 90%;
}

section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	width: 90%;
}

section p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 90%;
	font-size: 1.15em;
	padding-bottom: 1em;
}

article p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 100%;
}
#logo h1  {
	line-height: 0;
	text-align: center;
}
footer {
	font-size: 1em;
	margin-top: 1em;
	text-align: center;
	text-decoration: none;
}
footer p {
	font-size: 2em;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	text-decoration: underline;
}
}


@media (min-width: 600px)and (max-width: 1199px)  {	
/*header {
	padding-top: 1em;
}*/
header h1{
	text-align: center;
}	
#name h1 {
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
	/*line-height: 1em;*/
	/*margin: 0 auto;*/
	/*min-width: 25%;*/
	/*max-width: 60%;*/
	/*position: relative;*/
	text-align: center;
	z-index: 2;
	white-space: nowrap;
}
	
#name h2 {
	font-weight: 400;
	font-size: 1.05em;
	position: relative;
	z-index: 2;
	padding-bottom: .5em;
	white-space: nowrap;
	text-align: center;
}
#nav-list {
	list-style: none;
	padding-bottom: .35em;
	padding-top: .35em;
	}
.nav-item {
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
	line-height: 1.25;
}

.nav-item a {
	text-decoration: none;
	color: black;
}

.nav-item:hover {
	color: black;

	text-decoration: underline;
}
#logo h1  {
	line-height: 1.25em;
	padding: .8em 0 0 0;
	text-align: center;
}
section{
	padding-bottom: 1em;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 80%;
}
	
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	width: 80%;
}
	
section p {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 80%;
	font-size: 1.15em;
}
	
article p {
	margin: 0 auto;
	padding-top: 1em;
	max-width: 100%;
}
footer {
	font-size: 1em;
	text-align: center;
}
footer p {
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}
footer {
	font-size: 1em;
	margin-top: 1em;
	text-align: center;
	text-decoration: none;
}
footer p {
	font-size: 2em;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	text-decoration: underline;
}
}
	
@media (min-width: 1200px)  { 
header {
}
	
header h1 {
	font-size: 2.5em;
	font-family: 'Dancing Script', cursive;
	line-height: 1em;
	/*margin: 0 auto;*/
	/*min-width: 25%;*/
	/*max-width: 60%;*/
	/*position: relative;*/
	text-align: left;
	z-index: 2;
	white-space: nowrap;
}
header h2 {
	font-weight: 400;
	font-size: 1.25em;
	/*position: relative;*/
	z-index: 2;
	padding-bottom: 1em;
	white-space: nowrap;
	text-align: left;
}
.nav-list {
	}
.nav-item {
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	/*color: #ddd;*/
	font-size: 1.5em;
	line-height: 2;
}
.nav-item:hover {
	text-decoration: underline;
}
#logo h1  {
	line-height: 1.25em;
	padding: .8em 0 0 0;
	/*text-align: center;*/
}
section{
	padding-bottom: 1em;
}
section h2 {
	font-size: 2em;
	font-weight: 600;
	margin: 0 auto;
	max-width: 60%;
}
	
section h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 auto;
	padding-bottom: .5em;
	width: 60%;
}
	
section p {
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 60%;
	font-size: 1.15em;
}
	
article p {
	/*margin: 0 auto;
	padding-top: 1em;
	max-width: 100%;*/
}
footer {
	font-size: 1em;
	text-align: center;
}
footer {
	font-size: 1em;
	margin-top: 1em;
	text-align: center;
	text-decoration: none;
}
footer p {
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}
footer a {
	text-decoration: none;
	color: black;
}
footer a:hover {
	text-decoration: underline;
}
}	
