* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

section {
  /* border: 10 solid black; */
  border-radius: 25em;
  margin: 3em auto;
  width: 25em;
  height: 25em;
  background: url("https://hmcka.github.io/100days/day46/images/floor.svg")  repeat;
  -webkit-animation: flashlight-move 3s infinite  alternate;
}

/* animation definitions */
@-webkit-keyframes flashlight-move {
  0%    {background-position: 0 0; }
  100%  {background-position: -25em; }
}
/* 
#bug1 {
  position: absolute;
  top: 500px;
  left: -50px;
} */