@media (min-width: 1px) and (max-width: 599px) { 
/* NEW main {
	background-image: url("../images/bkgrnd-light_grey.png");
	background-repeat-x: repeat;
	background-repeat-y: repeat;
} */
/* NEW body {
	background: peru;
} */
/* NEW main {
	background-image: url("../images/bkgrnd-light_grey.png");
	background-repeat-x: repeat;
	background-repeat-y: repeat;
} */
header {
	/* NEW background: peru; */
	margin-right: 0;
	margin-top: 0;
}
#logo {
	/* margin: 0 0 0 0; */
	/* display: block; */
	/* NEW margin-left: 5%;*/
	/* NEW margin-top: -2em;  */
	margin-bottom: .5em;

	/* margin-right: auto; */
	/* NEW width: 65px; */
	/* NEW height: auto; */
}
/* NEW #logo img {
	height: 115px;
	padding-top: .5em;
} */
/* NEW #ham-container{
	background: black;
	width: 40px;
	border-radius: 5px;
	display: block;
	margin-right: .25em;
	margin-top: .25em;
	position: relative;
	cursor: pointer;
	margin-left: auto;
	transition: all linear .3s;
	padding: 4px;
	z-index: 1;
} */
/* NEW #ham-container.active{
	background: black;
	display: block;
	margin-left: auto;
} */
/* NEW #bar1,#bar2,#bar3{
	width: 90%;
	background: #f2f2f2;
	height: 4px;
	margin: 4px auto;
	border-radius: 2px;
	transition: all linear .3s;
} */
/* NEW #bar1.active{
	-webkit-transform: translate(0px,8px) rotate(45deg);
	transform: translate(0px,8px) rotate(45deg);
}	 */
/* NEW #bar2.active{
	opacity: 0;
}	 */
/* NEW #bar3.active{
	-webkit-transform: translate(0px, -8px) rotate(-45deg);
	transform: translate(0px, -8px) rotate(-45deg);
} */
#nav {
	/* NEW background: black; */
	/* NEW width: 100%; */
	/* NEW color: #f2f2f2; */
	/* NEW display: none; */
	/* NEW position: absolute; */
	/* NEW top: 0; */
}
/* NEW #nav-list {
	list-style-type: none;
} */
/* NEW .nav-item {
	list-style: none;
	text-decoration: none;
	color: #f2f2f2;
	font-size: 1.5em;
	line-height: 2.25;
	/*padding-left: .5em;*//*
} */
/* NEW .nav-item:hover, .nav-item:active {
	color: #f2f2f2;
	text-decoration: underline;
} */
#skillset img {
	margin: 1.5em auto 0 auto;
	/* padding-bottom: .5em; */
	/* width: 60%; */
}
/* NEW #prod {
	padding-left: 0;
	padding-right: 0;
	padding-top: 21.5em;
	background-image: url("../images/prod-app3.jpg");
	background-repeat: no-repeat;
} */
.grid-container-2 img {
	padding-top: .5em;
	width: auto;
}
.grid-container-2 {
	text-align: center;
	margin: auto auto;
	padding-bottom: 2em;
	width: 90%;
}
/*  NEW .grid-container-3 {
	text-align: center;
	display: grid;
	grid-template-columns: 100%;
	margin: auto auto;
	padding-bottom: 1em;
} */
.grid-container-4 {
	text-align: center;
	display: grid;
	grid-template-columns: 100%;
	margin: auto auto;
	padding-bottom: 1em;
}
.grid-container-3 img {
	padding-top: 1em;
}
.grid-container-box{
	background-color: #f2f47c;
	border-radius: 1em;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 80%;
}
/* NEW #branding {
	background-color:#e3ac7d;
	margin: 0 auto;
	padding-top: 2em;
	width: 100%;
} */
/* NEW .arch img {
	position: relative;
	width: 100%;
} */
/* NEW .port img {
	position: relative;
	width: 100%;
	margin: auto auto;
} */
/* NEW .port h2 {
	line-height: 0em;
	padding-bottom: .75em;
	padding-top: 2em;
	
} */
/* NEW .port h3 {
	padding-top: 1em;

} */
}

@media (min-width: 600px) and (max-width: 1199px) { 
/* NEW main {
	background-image: url("../images/bkgrnd-light_grey.png");
	background-repeat-x: repeat;
	background-repeat-y: repeat;
} */
header {
	background: peru;
	margin-right: 0;
	margin-top: 0;
	z-index: 2;
}
#logo {
		/* margin: 0 0 0 0; */
		padding: .8em 0 .5em 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 75px;
		height: auto;
}

/* #logo img {
	height: 100px;
	width: auto;
} */
#nav {
	width:100%;
	background: peru;
	position:relative;
	display:inline-block;
	justify-content: space-between;
}
#nav-list {
	display: flex;
	justify-content: space-between;
	margin: auto;
	position: relative;
	top: 0;
	width: 100%;
	visibility: visible;
}
.nav-item  {
	display:block;
	padding: .4em .8em .4em .8em;
	width: 25%;
}
header {
	position: fixed;
	width: 100%;
}
#about {
	padding-top: 17em;
}
#skillset img {
	margin: .5em auto 0 auto;
	padding-bottom: .5em;
	width: 60%;
}
#prod {
	padding-left: 0;
	padding-right: 0;
	padding-top: 51.5em;
	background-image: url("../images/prod-app2.jpg");
	background-repeat: no-repeat;
}
section {
	padding-top: 1em;
	padding-bottom: 1em;
}

.grid-container-2 img {
	padding-top: .5em;
	width: auto;
}
.grid-container-2 {
	text-align: center;
	display: grid;
	grid-template-columns: 47% 47%;
	grid-column-gap: 5%;
	margin: auto auto;
	padding-bottom: 2em;
	width: 80%;
}
.grid-container-3 {
	text-align: center;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 5%;
	margin: auto auto;
	padding-bottom: 1em;
	width: 90%;
}
.grid-container-4 {
	text-align: center;
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	grid-column-gap: 3%;
	display: grid;
	margin: 0 auto;
	padding-top: 2em;
	width: 95%;
}
.grid-container-3 img {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
  	height: auto;
	padding-top: 1em;
}
.grid-container-box{
	background-color: #f2f47c;
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 3em;

}
#branding {
	background-color:#e3ac7d;
	margin: 0 auto;
	padding-top: 3em;
	width: 100%;
}
.arch img {
	position: relative;
	width: 100%;
}
#work article {
	background: #f4f286;
	padding: 1em
	} 
#work img {
	border-radius: 5%;
	display: block;
	margin: auto;
	max-width:100%;
	height:auto;
}
#about img {
	border-radius: 5%;
}
.port img {
	position: relative;
	width: 100%;
	margin: auto auto;
}
.port h2 {
	line-height: 0em;
	padding-bottom: .75em;
	padding-top: 9em;
	
}
.port h3 {
	padding-top: 1em;

}
}


@media (min-width: 1200px) {
	main {
		background-image: url("../images/bkgrnd-light_grey.png");
		background-repeat-x: repeat;
		background-repeat-y: repeat;
	}
/* NEW header {
	background: peru;
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 2;
} */
#logo  {
	flex: 1;
	margin: 2em .5em 0 0;
	width: 15%;
	text-align: center;
}
/* #name-space {
	width: 35%;
	padding-top: 4em;
	text-align: left;
} */
#nav {
	align-items: center;
	background: peru;
	flex: 1;
	float: right;
	margin-right: 3em;
	margin-top: 5em;
	width: 50%;
	position:relative;
}
#nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width:100%;
	visibility: visible;
}
.nav-item  {
	color: black;
	display:block;
	padding: 20px 20px 0px 20px;
}
section {
	box-sizing: border-box;
	clear: both;
	min-height: 25em;
	padding-top: 3em;
}
#about {
	padding-top: 14.7em;
}

section img {
	margin: 0 auto;
	padding-bottom: .5em;
}

#prod {
	padding-left: 55%;
	padding-right: 0;
	padding-top: 14.7em;
	background-image: url("../images/prod-app1.jpg");
	height: 43em;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
}
.grid-container-2 img {
	padding-top: .5em;
	width: auto;
}
.grid-container-2 {
	text-align: center;
	display: grid;
	grid-template-columns: 47% 47%;
	grid-column-gap: 5%;
	margin: auto auto;
	padding-bottom: 3em;
	width: 80%;
}
  .grid-container-3 {
	text-align: center;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 5%;
	margin: auto auto;
	padding-bottom: 1em;
	padding-top: 1em;
	width: 90%;
}
.grid-container-3 img {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
  height: auto;
	padding-top: 1em;
}
.grid-container-4 {
	text-align: center;
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	grid-column-gap: 5%;
	margin: auto auto;
	padding-bottom: 4em;
	padding-top: 3em;
	width: 90%;
}
.grid-container-box{
	background-color: #f2f47c;
	border-radius: 1em;
	padding: 1em;
}
#branding {
	background-color:#e3ac7d;
	margin: 0 auto;
	width: 100%;
}
.arch img {
	position: relative;
	width: 100%;
}
.port img {
	position: relative;
	width: 100%;
	margin: auto auto;
	padding-top: 1em;
}
.port h2 {
	line-height: 0em;
	padding-bottom: .75em;
	padding-top: 7.5em;
	
}
.port h3 {
	padding-top: 1em;

}
}




	
